<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring 2025 - IOT Dashboard</title>
    <link rel="stylesheet" href="./static/css/style.css">
</head>
<body>
    <div class="nav-bar">
        <h2>Spring 2025 - IOT</h2>
        <div>
            <a href="/dashboard">Dashboard</a> | 
            {% if user_role == "Admin" %}
                <a href="/info">System Info</a> | 
            {% endif %}
            <a href="/logout" style="color: #d12643;">Logout</a>
        </div>
    </div>
    
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>